@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.App {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Abel";
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom: 2mm solid rgba(73, 73, 73, 0.6);
}
.App a {
    margin: 5%;
}
main {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#tabela {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

#header_tabela {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border-radius: 5px 5px 0 0;
}

#header_tabela div {
    flex: 1;
    text-align: center;
    font-weight: bold;
}

#body_tabela {
    display: flex;
    flex-direction: column;
}

.livro {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.livro:last-child {
    border-bottom: none;
}

.livro div {
    flex: 1;
    text-align: center;
}

.acoes a {
    color: #28a745;
    text-decoration: none;
    margin: 0 5px;
}

.acoes a:hover {
    text-decoration: underline;
}

.acoes {
    cursor: pointer;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-button {
    padding: 10px;
    margin: 1%;
    border-radius: 4px;
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
